*{
    box-sizing: border-box;
}
h1{
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.pok{
    color: blue;
    font-size: 4rem;
}

.gcta{
    color: brown;
    font-size: 3rem;
}